@charset "UTF-8";

/*** HAZARD MAP RWD ***/

@media screen and (min-width: 10px) and (max-width: 854px) {
	body{font-size: 62.5%}
	div#wrap {
	font-size: 1.5em;
    width: 90%;
	/*background-color:rgba(255,255,255,0.6);*/
	padding: 0 1em;
}

img.bg {
    min-width: 854px;
	margin-left: -427px;
}

div#side,div#main,footer {
    float: none;
	position: static;
	width: 100%;
	padding-top: 0;
	clear:both;
	padding-bottom: 2em;
}

div#side {
	padding: 1.5em 0 0.8em 0;
}



nav {float: right; width: 65%; padding-top:0;}


nav ul li {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	margin-bottom: 0.5em;
}

h2, #register h2 {
	font-size: 105%;
	padding: 0.8em 0 0 3.3em;
	margin-bottom: 0.5em;
}



#login #main, #showcode #main, #register #main, #aeonlink #main {
    width: 100%;
	background-color:rgba(255,255,255,0.6);
	padding-top:1.5em;
	margin-top: 0;
}

th, #login th {
    width: 6.5em;
}

table {
	font-size: 90%;
}
footer { width:100%; padding-top:2em;}
footer img { width:100%;}
.bnr-rwd {display: none;} 
/*.bnr-pc {display: none;}*/

h1{ width: 32%; padding: 0.3em 0 0 0;float: left;}
h1 img {width:100%;}

#login article, #showcode article, article, #aeonlink article {
    width: 90%;
}

#register table {
	font-size: 80%;
}

.sabmit input {
    font-size: 90%;
    padding: 0.3em 0.5em;
	font-weight: normal;
}
.sabmit {
    padding-top: 1em;
}


#register th.t-title {
    font-size: 105%;
    padding: 0.7em 0 0.5em;

}
#register td {width: auto;}

#register td.i-cap2 input {
    margin-left: 0;
    width: 70%;
}

#register table input {
    width: 60%;}

#register td.i-cap input {width: 1em;}

#register th {
    width: 10em;
}

#register td.i-cap .input-btn {
    width: auto;}

#register .i-cap .red {display: none;}




#aeonlink #main li {font-size:100%;}

#aeonlink #main li a { font-weight: normal;}

/*

nav {padding-top: 0; background-color:rgba(255,255,255,0.6);}
nav ul li { float: left; width: 30%; padding: 3em 0 0 0; font-size: 90%; text-align:center}
nav ul li.nav-1,nav ul li.nav-2,nav ul li.nav-3 {background-position: center top;}

nav ul {display:block; margin: 0 auto;}
h1{ width: 100%; text-align: center; padding: 1.5em 0 1em 0;}
*/
}


@media screen and (max-width: 720px){


}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {


}

@media screen and (max-height: 640px) {


}
