@charset "UTF-8";
/* DPS */

/*********************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;text-align:left;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus {outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
/*********************************************************************/

/* common Start */


div#wrap {
	position: relative; 
	width: 1024px;
	margin: 0 auto;
}

div#main {
	background-color:rgba(255,255,255,0.6);
	width: 800px;
	height: 100%;
	margin: 0;
	padding: 50px 0 75px 0;
	float: right;
	color: #111111;
}

div#side {
	width: 185px;
	margin: 0;
	padding: 30px 0 50px 0;
	float: left;
	position: fixed;

}

footer{bottom: 20px; position: fixed; color: #FFF; width: 185px;}

footer li {text-align: center; padding-top:7px;}

small {font-size: 0.8em;}

footer p {line-height: 1.2; padding-top:15px;}

.bnr-rwd {display: none;} 

html,body {height: 100%;}

html {overflow-y:scroll;}

body {font: 0.8em "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; height: 100%; color: #111111; line-height: 1.7; word-wrap: break-word;}


nav {padding-top: 50px;}

nav a, #aeonlink #main li a {color: #ffffff; font-weight: bold; text-decoration: none;}
#aeonlink #main li a {color: #b42e83;}

nav ul li {height: 32px; margin-bottom:20px; padding: 7px 0 0 40px;}
nav ul li.nav-1 {background:url(images/nav-1.png) 0 0 no-repeat;}
nav ul li.nav-2 {background:url(images/nav-2.png) 0 0 no-repeat;}
nav ul li.nav-3 {background:url(images/nav-3.png) 0 0 no-repeat;}


a:hover,.input-btn:hover {opacity: 0.7;}

article {
	width: 83%;
	margin: 0 auto;
}

.note {
	font-size: 0.9em;
}

h2{color: #b42e83; font-size: 125%; height: 45px; padding: 10px 0 0  55px; margin-bottom:2em;}

.clear {clear:both;}

.none {display: none;}

.bold {font-weight: bold;}

.aeon-color {color: #b42e83;}

.center {text-align: center;}

.red {color: #f17a1a;}

input{border: medium none; padding: 0.4em 1em;
  background-color: #fff;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
　behavior: url(border-radius.htc);}

.input-btn {background-color: #b42e83; color:#fff; font-weight:bold; letter-spacing: 0.1em; cursor: pointer;}

.sabmit {text-align:center; padding-top: 40px;}

.sabmit input {padding: 0.5em 2em; font-size:110%;}

table input{margin: 0; width:85%;}

table{width: 100%;}

th{font-weight: normal; letter-spacing: 0.1em}

td,th{padding: 0.7em 0;}

td.i-cap input{width:auto;margin-right:0.5em}

/* common End */


/* login Start */

#login h2{background:url(images/h2-dps-logo.png) 0 0 no-repeat;}

#login #main,
#showcode #main,
#aeonlink #main {width: 75%;margin-top: 15%;}

#login article,
#showcode article,
#aeonlink article {width: 70%;}


#login th{width: 25%;}

/* login End */

/* showcode Start*/

#showcode h2{background:url(images/h2-showcode.png) 0 0 no-repeat;}

/* showcode End */


/* register Start */

#register h2{background:url(images/h2-register.png) 0 0 no-repeat; margin-bottom:0;}


#register th.t-title{width: 100%; font-weight: bold; padding: 3em 0 2em 0; font-size: 110%;}
#register td{ width: 37%;}

#register td.i-cap2 input{width:75%;margin-left: 0.5em;}

/* register End */

/* aeonlink Start */
#aeonlink h2 {background:url(images/h2-aeonlink.png) 0 0 no-repeat;}
#aeonlink #main li {height: 27px; margin-bottom:20px; padding: 2px 0 0 35px;background:url(images/list-aeonlink.png) 5px 0 no-repeat; font-size:110%;}



/* bg */

img.bg {
	text-align: right;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1023px){
img.bg {
	left: 50%;
	margin-left: -512px; }
}

.bnr-pc {display: none;} 